priority -50
extends typescript

priority -49
snippet stfc "typescript react functional component"
interface Props {
	${2}
}

export const ${1} = (${3:props}: Props) => {
	return (
		${4}
	)
}
endsnippet
